<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <connectionStrings>  
    <add name="connString" connectionString="server=SUMON-PC;database=CMS.Website.Database; user id=sa; password=Pass@123;"
      providerName="System.Data.SqlClient"/>  
  </connectionStrings> 
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0"/>  
    <pages validateRequest="false"/>    
    <globalization uiCulture="es" culture="es-MX"/>
  </system.web>
  
    
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="info@testbd.org">
        <network defaultCredentials="false" host="testbd.org" port="587" enableSsl="false" userName="info@testbd.org" password="complexpassword"/>
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>

</configuration>